#draggable-queen:hover {
  cursor: grab;
}

#stock-area:-moz-drag-over {
  border: 1px black;
}

.dragging {
  opacity: 0.5;
}

.highlight {
  background-color: rgba(255, 0, 0, 0.5) !important;
  opacity: 0.9 !important;
  transition: background-color 0.3s ease-in-out;
}

.highlightGreen {
  background-color: rgba(0, 180, 0, 0.5) !important;
  opacity: 0.9 !important;
  transition: background-color 0.3s ease-in-out;
}

.queen-image {
  width: 60px;
  height: 60px;
  cursor: move;
}

.chess-panel {
  width: 600px;
}

.stack-panel {
  width: 200px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.stack-item {
  background-color: #fffacd;
  color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  border-left: 4px solid #ffcc00;
  margin-bottom: 5px;
}

.code-panel {
  width: 600px;
}

.dark-square {
  background-color: #b58863;
}

.light-square {
  background-color: #f0d9b5;
}

input[type='checkbox'] {
  display: grid;
  place-content: center;
  width: 16px;
  height: 16px;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

input[type='checkbox']::before {
  transition: 120ms transform ease-in-out;
  width: 30px;
  height: 30px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

pre code {
  white-space: pre-wrap;
}
